{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Service Start -->
    <div class="container-xxl py-5" >
        <div class="container" >
            <div class="row g-4" style = "color:white;" >
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style = "margin:auto; color:black;">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                            <h5>Master Chefs</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" style = "margin:auto; color:black;">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                            <h5>Quality Food</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" style = "margin:auto; color:black;">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                            <h5>24/7 Service</h5>
                            <p>We are always on ypur Service. Please give us a chance to prove.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" style="margin:auto; color:black;">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <h5>Online Ordering</button></h5>
                        <p>Order Online! Your order will be at your place soon as possible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    

{% endblock content %}
